.env
dashboards_backup

# These are private GitLab.com dashboards that we don't want to share with the
# public, either because it doesn't make sense or because they contain private
# data.
dashboards/ceph-stats-from-prometheus.json
dashboards/gitlab-status.json
dashboards/prometheus-stats.json
dashboards/udp-monitoring.json
